// Global styles overwrite

.content-page{
    &.desktop{
        background:$c-white;
        margin: 0;
        padding: 40px;
        width: auto;
        .content-page-inner-wrapper.one-col .main-col {
            margin: 0 210px 50px; 
            width: auto;
            -webkit-box-shadow: 10px 10px 41px 0px rgba(0,0,0,0.4 );
            -moz-box-shadow: 10px 10px 41px 0px rgba(0,0,0,0.4 );
            box-shadow: 10px 10px 41px 0px rgba(0,0,0,0.4 );
        }
    }
    .content-page-inner-wrapper.one-col {
        background: $c-blue;
        margin: 0;
        max-width: 100%;
        padding: 0;
        width: 100%;
    }
}


.os-widget-wrapper.color-palette-opinionstage .os-widget-content {
    padding: 30px 50px;
    position: relative;
    .nav-area {
        border: none;
        bottom: -10px;
        color: $c-white;
        font-family: gotham_bold; 
        font-size: 14px;
        position: absolute;
        right: -140px;
        .nav-area-wrapper{
            .cell.nav.nav-left {
                border: none;
            }
            .cell.nav.nav-right {
                border: none;
            }
        }
    }
    a{
        color:$c-white !important;
    }
}

.icon-os-common-arrow{
    &-right2:before{
        content: '';
        border-bottom: 15px solid transparent;
        border-left: 14px solid #fff;
        border-top: 15px solid transparent;
        display: block;
        height: 0;
        width: 0;
    }
    &-right2:after{
        content: '';
        margin-left: -5px;
        border-bottom: 15px solid transparent;
        border-left: 14px solid $c-blue;
        border-top: 15px solid transparent;
        display: block;
        height: 0;
        margin-top: -30px;
        width: 0;
    }
    &-left2:before{
        content: '';
        border-bottom: 15px solid transparent;
        border-right: 14px solid #fff;
        border-top: 15px solid transparent;
        display: block;
        height: 0;
        width: 0;
    }
    &-left2:after{
        content: '';
        margin-left: 5px;
        border-bottom: 15px solid transparent;
        border-right: 14px solid $c-blue;
        border-top: 15px solid transparent;
        display: block;
        height: 0;
        margin-top: -30px;
        width: 0;
    }
}

// Header and Footer styles
.survey {
    &-header {
        height: 80px;
        padding: 15px 5px 5px;
        text-align: left;
        &::after {
            content: '';
            background: red;
            clear: both;
            height: 10px;
            width: 100%;
        }
        &--logo-campaign {
            float: left;
        }
        &--logo-kc {
            float: right;
        }
    }
    &-footer {
        color: #969696;
        font-family: gotham_medium;
        font-size: 12px; 
        text-align: right;
    }
}