/* main.scss */

@import "variables";
@import "fonts";
@import "bootstrap";
@import "tabs";
@import "navbar";
@import "footer";
@import "home-page";
@import "slick";
@import "slick-theme";
@import "custom-modals";
@import "about-advate";
@import "our-support";
@import "tratamiento-personalizado";
@import "comunidad";
@import "tooltips";
@import "inscribete";
@import "sitemap";
@import "contactanos";
@import "custom-select";


video{
    cursor:pointer;
}
/*CUSTOM RADIO BUTTON*/

input {
    &.custom-el {
        display: none;
    }
}

input[type='radio'].custom-el + label {
    background: url(../img/radio-state.png) no-repeat bottom left;
    padding-left: 33px;

}

input[type='radio']:checked.custom-el + label {
    background: url(../img/radio-state.png) no-repeat top left;
    padding-left: 33px;

}

input[type='checkbox'].custom-el + label {
    background: url(../img/check-state.png) no-repeat top left;
    padding-left: 33px;

}
input[type='checkbox']:checked.custom-el + label {
    background: url(../img/check-state-checked.png) no-repeat top left;
    padding-left: 33px;
   
}
.frutiger {
    font-family: 'FrutigerLTStd-Light';
    text-align: left;
    margin-bottom: 17px;
    color: $purple;
    text-transform: uppercase;
}

.slick-next {
    right: 5%;
    z-index: 8;
    @include breakpoint(sm) {
        right: 0;
    }
    &:before {
        content: "";
        background: url(../img/right-arrow.png) no-repeat;
        width: 23px;
        height: 41px;
        display: block;
        position: relative;
        background-size: 100%;
        opacity: 1;
    }
}

.slick-prev {
    left: 5%;
    z-index: 8;
    @include breakpoint(sm) {
        left: 0;
    }
    &:before {
        content: "";
        background: url(../img/left-arrow.png) no-repeat;
        width: 23px;
        height: 41px;
        display: block;
        position: relative;
        background-size: 100%;
        opacity: 1;
        z-index: 8;
    }
}

:focus {
    outline-color: transparent;
    outline-style: none;
}

a,
a:active,
a:focus,
input,
select,
textarea {
    outline: none;
}

a,
a:active,
a:focus,
a:visited {
    text-decoration: none;
}

input[type="text"],
input[type="password"],
input[type="mail"],
input[type="submit"] button {
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    color: $input-grey-text;
}

.wrap {
    p {
        font-size: 16px;
    }
}

.footnote {
    margin-top: 0;
    display: block;
    font-size: 12px;
    text-align: left;
    margin-bottom: 15px;
    @include breakpoint(md) {
        text-align: center;
    }
}

p.smaller-text {
    font-size: 14px;
    padding: 0 5px;
}

.key-list {
    list-style: none;
    margin-bottom: 15px;
    float: left;
    display: inline-block;
    padding: 0;
    li {
        padding-left: 35px;
        p {
            font-size: 14px;
        }
        &:before {
            content: "";
            display: block;
            background: url(../img/key-icon.png) no-repeat;
            width: 22px;
            height: 9px;
            background-size: 100%;
            position: relative;
            top: 16px;
            left: -31px;
        }
    }
}

section {
    .wrap {
        padding: 0 15px;
    }
    /*===================================================
        SECCIÓN PROGRAMA DE PRUEBA
    ===================================================*/
    &.programa-prueba {
        .wrap {
            padding: 0 15px;
        }
        h2 {
            &.title-white {
                font-size: 23px;
                color: #fff;
                margin-top: 35px;
                font-family: 'FrutigerLTStd-Light';
            }
            &.sup-title-white {
                font-size: 30px;
                color: #fff;
            }
        }
        p {
            text-align: center;
        }
        .btn-prueba {
            margin: 15px auto 35px;
            color: $purple;
            display: inline-block;
            background: #fff;
            padding: 10px 15px;
        }
    }
}

.main-content {
    padding-top: 88px;
    @include breakpoint(md) {
        padding-top: 129px;
    }
    section {
        text-align: center;
        overflow: hidden;
        h2 {
            &.grey-text {
                font-family: 'FrutigerLTStd-Light';
                color: $grey-text;
                font-size: 23px;
            }
        }
        &.purple-section {
            background: $purple;
            color: white;
            h2 {
                color: white;
            }
        }
        &.light-purple-section {
            background: $light-purple-bg;
            color: $dark-grey-text;
        }
        &.light-grey-section {
            background: $light-grey-bg;
            color: $dark-grey-text;
        }
        &.white-section {}
        &.orange-section {
            background: #ff9933;
            color: #fff;
        }
        &>div {
            padding-left: 25px;
            padding-right: 25px;
        }
        .row {
            margin: 0;
        }
    }
}

body {
    padding-right: 0 !important;
     -webkit-font-smoothing: antialiased;
    .purple {
        color: $purple;
    }
    sup {
        &.purple {
            strong {
                font-family: 'FrutigerLTStd-Bold';
            }
        }
    }
    //Required just for testing purposes.
    font-family: 'FrutigerLTStd-Light';
    @include sharp-text($dark-grey-text);
    h2 {
        font-family: 'ITCKabelStd-Medium';
        color: $purple;
        text-transform: uppercase;
    }
    p {
        text-align: left;
    }
    a {
        &.more {
            color: $purple-text;
            font-size: 16px;
            &:after {
                content: "\e258";
                display: inline-block;
                font-family: 'Glyphicons Halflings';
                font-size: 0.6em;
                color: $dark-grey-text;
                margin-left: 2px;
            }
        }
        &:hover {
            text-decoration: none;
        }
    }
    button,
    a.button {
        color: $purple;
        background: white;
        font-family: 'FrutigerLTStd-Light';
        border: 0;
        padding: 10px 25px;
        border-radius: 2px;
    }
    .form-control {
        width: 100%;
        border: 2px solid $input-gray-line;
        padding: 9px 15px;
        border-radius: 0;
        height: inherit;
    }
    .form-group {
        padding: 0 5px;
    }
    .btn {
        &.purple-btn {
            background: $purple;
            color: white;
            border-radius: 2px;
        }
    }
    /*&:before {
        display: block;
        color: rgba(255, 255, 255, 0.94);
        font-size: 0.85em;
        text-align: center;
        position: fixed;
        top: 0;
        left: 0px;
        z-index: 99;
        padding: 4px;
        font-weight: bold;
        @include breakpoint(xs) {
            content: "XS";
            background: rgba(#FA7474, .7);
        }
        @include breakpoint(sm) {
            content: "SM";
            background: rgba( #C97AEA, .7);
        }
        @include breakpoint(md) {
            content: "MD";
            background: rgba( #6D8DEA, .7);
        }
        @include breakpoint(lg) {
            background: rgba( #69CD41, .7);
            content: "LG";
        }
    }*/
    .sharing-bar {
        @include breakpoint(md) {
            margin-top: 50px;
        }
        .wrap {
            @include breakpoint(sm) {
                border-bottom: 2px solid $orange;
                margin-bottom: 45px;
                padding: 0;
                margin-top: 10px;
            }
        }
        h2 {
            font-size: 18px;
            @include breakpoint(sm) {
                text-align: left;
                padding: 0;
            }
            @include breakpoint(md) {
                font-size: 26px;
            }
            &:before {
                content: "";
                display: inline-block;
                background: url(../img/key-icon.png)no-repeat center center;
                width: 39px;
                height: 17px;
                background-size: 100%;
                margin-right: 4.5%;
            }
        }
        .key {
            border-bottom: 2px solid $orange;
            margin-bottom: 8px;
            @include breakpoint(sm) {
                border-bottom: none;
                margin-bottom: initial;
                padding: 0;
            }
        }
        .social {
            @include breakpoint(sm) {
                position: relative;
                top: 18px;
                text-align: right;
                padding: 0;
            }
            span {
                position: relative;
                top: -7px;
                left: 19px;
            }
            ul {
                list-style: none;
                display: inline-block;
                li {
                    display: inline-block;
                    a {
                        width: 25px;
                        height: 25px;
                        display: block;
                        background: url(../img/social-sprite.png) no-repeat;
                        background-size: 120px;
                        &.facebook {
                            background-position: 5px 1px;
                        }
                        &.twitter {
                            background-position: -28px 1px;
                        }
                        &.google {
                            background-position: -63px 1px;
                        }
                        &.link {
                            background-position: -99px 1px;
                        }
                    }
                }
            }
        }
    }
    .text-bold {
        font-family: "FrutigerLTStd-Bold";
    }
    .text-italic {
        font-family: 'FrutigerLTStd-LightItalic';
    }
    a {
        &:hover,
        &:focus,
        &:active,
        &:visited {
            color: #802890;
        }
    }
    .border-bottom {
        border-bottom: 1px solid #6b6967;
        padding-bottom: 40px;
        margin-bottom: 40px;
    }
    section {
        &.search {
            .buscar {
                margin-top: 50px;
                .input-search {
                    background-image: url(../img/icon-search.png);
                    background-repeat: no-repeat;
                    background-position: 97% 48%;
                    max-width: 500px;
                }
            }
        }
    }
    section {
        &.page-refences {
            h2 {
                padding: 15px 0;
            }
            ol {
                margin: 25px 0;
                text-align: left;
                li {
                    margin: 20px 0;
                    padding-left: 15px;
                    .txt-gray {
                        color: #6b6967;
                    }
                }
            }
        }
    }
}
