::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $c-blue;
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    color: $c-blue;
}

 :-ms-input-placeholder {
    /* IE 10+ */
    color: $c-blue;
}

 :-moz-placeholder {
    /* Firefox 18- */
    color: $c-blue;
}

.os-widget-wrapper {
    .os-widget-content {
        #widget-opening-card {
            .header-area {
                text-align: center;
                margin-top: 60px;
                h1 {
                    font-family: 'gotham_book';
                    color: $c-dark-text;
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 12px;
                    margin-top: 40px;
                    margin-bottom: 20px;
                    @include breakpoint(xs) {
                        font-size: 4vw;
                        margin-top: 4vw;
                    }
                }
                @include breakpoint(xs) {
                    margin: 0;
                    img {
                        display: none;
                        width: 100%;
                    }
                }
            }
            input {
                border: 0;
                border-bottom: 1px solid $c-blue;
                width: 60%;
                height: 40px;
                margin-bottom: 45px!important;
                font-family: 'gotham_book';
                color: $c-dark-text;
                padding: 0 0 0 16px;
                @include breakpoint(xs) {
                    width: 85%;
                    font-size: 3.3vw;
                    margin-bottom: 40px!important;
                }
            }
            .start-engagement-area {
                border-bottom: none;
                margin-top: 40px;
                @include breakpoint(xs) {
                    margin-top: 0;
                }
            }
        }
    }
    &.color-palette-opinionstage {
        .os-widget-content {
            #widget-opening-card {
                .start-engagement-area {
                    .main-form-btn {
                        border-radius: initial;
                        background: $c-blue;
                        font-family: 'gotham_black';
                        font-size: 14px;
                        color: white;
                        text-transform: uppercase;
                        &:hover {
                            background: $c-blue-hover;
                        }
                        @include breakpoint(xs) {
                            padding: 13px 65px;
                        }
                    }
                }
            }
        }
    }
}

#Name-error {
    position: absolute;
    top: 43px;
    width: 55.5%;
    font-family: 'gotham_book';
    font-size: 12px;
    padding: 15px 10px;
    background: $c-title-card-grey;
    border: none;
    letter-spacing: 0.6px;
    &:before {
        border-color: transparent transparent $c-title-card-grey;
        left: 21px;
        bottom: 30px;
    }
}

#email-error {
    position: absolute;
    top: 103px;
    width: 55.5%;
    font-family: 'gotham_book';
    font-size: 12px;
    padding: 15px 10px;
    background: $c-title-card-grey;
    border: none;
    letter-spacing: 0.6px;
    &:before {
        border-color: transparent transparent $c-title-card-grey;
        left: 21px;
        bottom: 30px;
    }
}