::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $c-blue;
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    color: $c-blue;
}

 :-ms-input-placeholder {
    /* IE 10+ */
    color: $c-blue;
}

 :-moz-placeholder {
    /* Firefox 18- */
    color: $c-blue;
}

.os-widget-wrapper {
    .os-widget-content {
        #widget-opening-card {
            .header-area {
                text-align: center;
                margin-top: 60px;
                h1 {
                    font-family: 'gotham_book';
                    color: $c-dark-text;
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 12px;
                    margin-top: 40px;
                    margin-bottom: 20px;
                }
            }
            input {
                border: 0;
                border-bottom: 1px solid $c-blue;
                width: 60%;
                height: 40px;
                margin-bottom: 30px;
                font-family: 'gotham_book';
                color: $c-dark-text;
                padding: 0 0 0 16px;
            }
            .start-engagement-area {
                border-bottom: none;
                margin-top: 40px;
            }
        }
    }
    &.color-palette-opinionstage {
        .os-widget-content {
            #widget-opening-card {
                .start-engagement-area {
                    .start-engagement-button {
                        border-radius: initial;
                        background: $c-blue;
                        font-family: 'gotham_black';
                        font-size: 12px;
                    }
                }
            }
        }
    }
}