.os-widget-wrapper {
    .os-widget-content {
        #widget-results-card {
            margin: 100px 0;
            @include clearfix();
            .result-wrapper {
                min-height: 300px;
                @include clearfix();
                @include flexverticalcenter();
                position: relative;
                .media-area {
                    @include clearfix();
                    right: 0;
                    display: block;
                    position: absolute;
                    @include verticalcenter();
                    width: 48%;
                    @include breakpoint(xs) {
                        width: 100%;
                    }
                    @include breakpoint(xs) {
                        img {
                            display: none;
                        }
                    }
                }
                .header-area {
                    width: 34%;
                    position: absolute;
                    left: 0;
                    height: fit-content;
                    @include clearfix();
                    @include verticalcenter();
                    .img-mobile {
                        display: none;
                        @include breakpoint(xs) {
                            display: block;
                            max-width: 260px;
                            margin: 0 auto;
                        }
                    }
                    .result-text {
                        color: $c-blue;
                        font-family: 'gotham_black';
                        text-transform: uppercase;
                        font-size: 30px;
                        padding: 0;
                    }
                    .suscribe-area {
                        @include breakpoint(xs) {
                            color: $c-blue;
                            font-size: 16px;
                        }
                    }
                    .result-text-description {
                        color: $c-blue;
                        font-family: 'gotham_book';
                        font-size: 18px;
                        margin-top: 10px;
                        &:after {
                            content: "";
                            display: block;
                            border-bottom: 1px solid $c-blue;
                            width: 100px;
                            margin-top: 25px;
                            @include breakpoint(xs) {
                                display: none;
                            }
                        }
                        @include breakpoint(xs) {
                            margin-bottom: 6vw;
                            font-size: 15px;
                        }
                    }
                    @include breakpoint(xs) {
                        width: 90%;
                    }
                }
            }
        }
    }
}

.os-widget-wrapper {
    &.color-palette-opinionstage {
        .os-widget-content {
            a {
                font-family: 'gotham_black';
                padding: 9px 5px;
                @include breakpoint(xs) {
                    margin-top: 5vw;
                }
            }
        }
    }
}