.os-widget-wrapper {
    .os-widget-content {
        #widget-results-card {
            margin: 100px 0;
            @include clearfix();
            .result-wrapper {
                @include flexverticalcenter();
                .header-area,
                .media-area {
                    width: 48%;
                    float: left;
                    .result-title {
                        color: $c-blue;
                        font-family: 'gotham_black';
                        text-transform: uppercase;
                        font-size: 30px;
                    }
                    .result-text {
                        font-family: 'gotham_book';
                        color: $c-blue;
                        font-size: 18px;
                        &::first-letter {
                            text-transform: capitalize;
                        }
                        &:after {
                            content: "";
                            display: block;
                            border-bottom: 1px solid $c-blue;
                            width: 100px;
                            margin-top: 25px;
                        }
                    }
                    .result-text-description {
                        color: $c-dark-text;
                        font-family: 'gotham_book';
                        font-size: 12px;
                        margin-top: 10px;
                    }
                }
                .header-area {
                    width: 37%;
                    padding: 0 15% 0 2%;
                }
            }
        }
    }
}