.os-widget-wrapper {
    .os-widget-content {
        #widget-results-card {
            margin: 100px 0;
            @include clearfix();
            .result-wrapper {
                min-height: 300px;
                @include clearfix();
                @include flexverticalcenter();
                position: relative;
                .media-area {
                    @include clearfix();
                    right: 0;
                    display: block;
                    position: absolute;
                    @include verticalcenter();
                    width: 48%;
                    .result-text {
                        color: $c-blue;
                        font-family: 'gotham_black';
                        text-transform: uppercase;
                        font-size: 30px;
                        padding: 0;
                    }
                }
                .header-area {
                    width: 34%;
                    position: absolute;
                    left: 0;
                    height: fit-content;
                    @include clearfix();
                    @include verticalcenter();
                    .result-text-description {
                        color: $c-blue;
                        font-family: 'gotham_book';
                        font-size: 18px;
                        margin-top: 10px;
                        &:after {
                            content: "";
                            display: block;
                            border-bottom: 1px solid $c-blue;
                            width: 100px;
                            margin-top: 25px;
                        }
                    }
                }
            }
        }
    }
}

.os-widget-wrapper {
    &.color-palette-opinionstage {
        .os-widget-content {
            a {
                font-family: 'gotham_black';
                padding: 9px 5px;
            }
        }
    }
}