//Color codes
$blue: #00adef;
//Font path
$font-path: "../fonts/";
//Colors
$c-blue: #00adef;
$c-white: #ffffff;
$c-title-card-grey: #464646;
$c-card-option-odd: #f8f8f8;
$c-card-option-even: #f1f1f1;
$c-option-wrong: #d51b7b;
$c-option-right: #6ed51b;
$c-dartk-text: #464646;